.head {
	FONT-SIZE: large; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
.body {
	FONT-SIZE: 100%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
.tagline {
	FONT-SIZE: 75%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
.telety {
	FONT-SIZE: 100%; FONT-FAMILY: "courier new", courier, "Andale Mono", monospace
}
.menu {
	FONT-SIZE: 100%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
A:active {
	COLOR: #ff3300
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #cc0033; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
BODY {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: #cccccc
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
OL {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
UL {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; FONT-FAMILY: Helvetica, Arial, Verdana, geneva, sans-serif
}
PRE {
	FONT-SIZE: 100%; FONT-FAMILY: "courier new", "Andale Mono", courier, monospace
}
TABLE {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; FONT-FAMILY: verdana, geneva,  helvetica, Sans-Serif
}
TR {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; FONT-FAMILY: verdana, geneva,  helvetica, Sans-Serif
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: small; FONT-FAMILY: verdana, geneva,  helvetica, Sans-Serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: verdana, geneva,  helvetica, Sans-Serif
}
